<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="background-color: #e3f2fd"
>
  <div class="container">
    <a routerLink="liste" class="navbar-brand">Boutik bi</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">Accueil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


