<div class="container">
    <div id="alertMsg">
      <p>{{ message }}</p>
    </div>
    <div id="home">
      @for(item of listeArticle ; track item.id){
      <app-article
        [idArticle]="item.id"
        [titreArticle]="item.titreArticle"
        [prixArticle]="item.prixArticle"
        [description]="item.description"
        [urlImg]="item.urlImg"
        [altImg]="item.altImg"
        [dispo]="item.dispo"
        (info)="onAffiche($event)"
      ></app-article>
      }
    </div>
  </div>