<h1>Ajouter un nouvel article</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="title">Titre</label>
  <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="titleToAdd"
    minlength="4"
    #title="ngModel"
    required
  />
  @if(title.invalid && (title.dirty || title.touched)) {
  <div>
    @if(title.errors?.['required']){
    <div>
      <p>Titre Obligatoire</p>
    </div>
    } @if(title.errors?.['minlength']){
    <div>
      <p>Minimum 4 caractères</p>
    </div>
    }
  </div>
  }

  <br />
  <label for="price">Prix</label>
  <input
    type="number"
    id="price"
    name="price"
    [(ngModel)]="priceToAdd"
    required
    #price="ngModel"
  />
  @if(price.invalid && (price.dirty || price.touched)) {
  <div>
    @if(price.errors?.['required']){
    <div>
      <p>Prix Obligatoire</p>
    </div>
    }
  </div>
  }
  <br />
  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoyer</button>
</form>
